* {
    padding: 0;
    margin: 0;
}

.navbar-container {
    display: flex;
    padding-top: 4%;
    height: 10vh;
    width: 100%;
}

.navbar {
    padding: 2%;
    word-spacing: 50px;
    margin-left: 10%;
    width: 30%;
    display: block;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #303030;
}




.navbar a:hover {
    color: #F5706D;
}

.search-bar {
    margin-left: 25%;
    /* word-spacing: 20px; */
    width: 20%;
    margin-top: 20px;
}
.search-btn {
    height: 5vh;
    width: 50%;
    border-style: none;
    border-radius: 20px;
}

 
.search-btn-img{
}

.navbar-img {
    width: 6%;
    justify-content: space-between;
    align-items: center;
    margin-left: -40px;
    display: flex;
    margin-top: 10px;
}

.navbar-img img {
    height: 35px;
    width: 35px;
}