/*font style*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

*{
    padding: 0;
    margin: 0;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.order-detail-main-cont{
  width: 75%;
}

.order-details-txt{
  margin-top: 5%;
  padding-left: 5%;
}

.order-details-txt h1{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #303030;
}

.order-details-cont{
  width: 90%;
  background-color: #FFFFFF;
 
  margin-left: 5%;
  border: 3px solid #FFFFFF;
  height: 410px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px #B7B7B7;
  overflow-y: scroll;
}

.order-id{
  margin-top: 2%;
  padding-left: 3%;
}

.order-id h2{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.update-status-btn{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;


}

.update-status-btn label{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: -5%;
}

.update-status-btn select{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
 
  height: 30px;
  border-radius: 10px;
 background-color: #EAF0E5;
 border-style: none;
}

.update-status-btn button{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 1%;
  background-color: #EAF0E5;
  border-style: none;
  height: 30px;
  border-radius: 10px;
}

.customer-order-delivery-info{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}

.customer-info{
  width: 30%;
  border: 1px solid #B7B7B7;
  border-radius: 20px;
  padding-left: 1%;
}
.customer-info h2{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3%;
}

.customer-info p{
  padding-top: 1%;
  color: #6C7275;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}


.order-info{
  width: 30%;
  border: 1px solid #B7B7B7;
  border-radius: 20px;
  padding-left: 1%;
}

.order-info h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3%;
  font-size: 15px;
}

.order-info p{
  padding-top: 1%;
  color: #6C7275;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.status-order{
  display: flex;
  width: auto;
  flex-wrap: wrap;
  column-gap: 5px;
}

.delivery-info{
  width: 30%;
  border: 1px solid #B7B7B7;
  border-radius: 20px;
  padding-left: 1%;
}

.delivery-info h2{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 3%;
  font-size: 15px;
}

.delivery-info p{
  padding-top: 1%;
  color: #6C7275;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.message-qr-cont{
   
}

.message{
  height: 100px;
  padding-left: 3%;
  width: 95%;
 
}

.message h2{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.message p{
  font-size: 15px;
  color: #6C7275;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 1px solid #B7B7B7;
  border-radius: 20px;
  height: 60px;
  overflow-y: scroll;
  padding: 1%;
}

.qr-cont{
  width: 50%;
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
}

.qr-cont h1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #303030;
}

.qr-cont img{
  width: 45%;
  height: 45vh;
  margin-left: 5%;
}

.product-total-cont{
  width: 90%;
  background-color: #FFFFFF;
  margin-left: 5%;
  border: 3px solid #FFFFFF;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px #B7B7B7;
  margin-top: 1%;

}

.product-txt{
  padding-top: 1%;
  padding-left: 3%;
}
.product-txt hr{
  width: 95%;
}

.product-txt h2{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.product-info-table{
  width: 100%;
  height: 180px; 
 
}

.product-info-table tr{
  width: 100%;
  display: flex;
  flex-direction: row;

}
.product-info-table th{
  width: 100%;
  color: #6C7275;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.product-info-table td{
  padding-top: 1%;
  width: 100%;
  text-align: center;
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* ayaw lumabas scroll bar umay */
.product-info-cont{
 overflow-y: scroll;
 height: 120px;
}

.total-info-cont{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;


}

.total-info{
  padding-right: 3%;
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.total-info p{
  color: #303030;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.total-info p.total-txt{
  color: #61AE4C;
  font-size: 25px;
}